<div class="jumbotron">
  <h1>Challenge yourself(main)</h1>
  <p class="lead">
    FoodieJournal makes it easy for you to embark on a journey to discvoer new cuisines.
  </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/listJourneys">Get Started!</a></p>
</div>

<div class="row marketing">
  <div class="container">
    <div class="col-sm-4">
      <img src="..." alt="..." class="img-circle">
      <p>Explore the top 5 international cuisines and follow cuisine journeys.</p>
    </div>
    <div class="col-sm-4">
      <img src="..." alt="..." class="img-circle">
      <p>Receive restaurant recommendations based on your preferences and location.</p>
    </div>
    <div class="col-sm-4">
      <img src="..." alt="..." class="img-circle">
      <p>Complete challenges track your progress against your selected cuisines.</p>
    </div>
  </div>
</div>
